In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/catqq/OneDrive/Model/model_data.csv",\

               dtype={"Date": str,"Lead - Mobile Phone Area Code":str,\

                      "Lead - Phone Number Area Code":str,"Lead Category":str,\

                     "Lead Source ID" :str,"Lead - Form Source":str,"Lead - Campus":str,\

                     "Lead - School of Study":str,"Lead - Program":str,"Lead - Zip/Postal Code":str,\

                     "Lead - Original Program Request":str,"Lead - Original Lead Campus":str}, low_memory=False)

In [3]:
df["Y"]=df.apply(lambda x: 1 if  x["Converted in 90 Days?"]=='Yes' else 0, axis=1)

In [4]:
df_sub=df.drop(['Date', 'Converted in 90 Days?','Revenue','Google Ads GCLID','Opportunity - Created Date','Account ID','LeadID',\
          'Opportunity ID','OpportunityID','Lead ID','Lead Comments - Notes',
               'Visit Start Time'], axis=1)

In [41]:
df_sub.head()

,Count of Sessions,Pageviews,Session Duration,Hits,Transactions,Transaction Revenue,New Sessions,Session Quality Score 0_100,Campaign,Source,...,High School Grad Year,Lead - Mobile Phone Area Code,Lead - Phone Number Area Code,Lead - Age,Lead Comments - Course Interest,Lead Comments - Degree,Lead Comments - Transfer,rand,Cut,Y
0,1,5.0,85.0,28,1.0,200000000.0,1.0,85,.SOD-RCC-Southcentral,google,...,NaN,239,239,NaN,SoD-GraphDesign,AS,Maybe,0.949371,1,0
1,1,4.0,173.0,47,1.0,200000000.0,1.0,92,.SON-RCC-RN,google,...,NaN,727,727,NaN,SoAH-HealthWell,NaN,NaN,1.000000,1,1
2,1,6.0,103.0,30,1.0,200000000.0,1.0,93,.SoN-RCC-NursingGeneral,google,...,NaN,321,321,NaN,SoN-ProfNurs-Mob,AS,Yes,1.000000,1,1
3,3,3.0,1578.0,12,1.0,200000000.0,NaN,87,.SoN-RCC-NursingGeneral,google,...,NaN,913,913,NaN,SoN-ABSN-Second,BS,Yes,0.921386,1,0
4,1,3.0,145.0,25,1.0,200000000.0,1.0,83,.SOHS-RCC-Rad Tech,google,...,NaN,239,239,NaN,SoAH-RadTech,NaN,NaN,0.936188,1,0

In [5]:
df_sub.shape[0]

13514

In [15]:
all_vars=df_sub.columns.to_list()
all_types=df_sub.dtypes.to_list()

In [18]:
together=list(zip(all_vars,all_types))
together

[('Count of Sessions', dtype('int64')),
 ('Pageviews', dtype('float64')),
 ('Session Duration', dtype('float64')),
 ('Hits', dtype('int64')),
 ('Transactions', dtype('float64')),
 ('Transaction Revenue', dtype('float64')),
 ('New Sessions', dtype('float64')),
 ('Session Quality Score 0_100', dtype('int64')),
 ('Campaign', dtype('O')),
 ('Source', dtype('O')),
 ('Keyword', dtype('O')),
 ('Ad Content', dtype('O')),
 ('Campaign ID', dtype('float64')),
 ('Ad Group ID', dtype('float64')),
 ('Google Ads Creative ID', dtype('float64')),
 ('Google Ads Criteria ID', dtype('float64')),
 ('Page', dtype('float64')),
 ('Google Ads Ad Slot', dtype('O')),
 ('Google Ads Criteria', dtype('O')),
 ('Google Ads Customer ID', dtype('float64')),
 ('Ad Distribution Network', dtype('O')),
 ('Google Ads Remarketing List ID', dtype('float64')),
 ('TrueView Video Ad', dtype('O')),
 ('Is True Direct', dtype('O')),
 ('Browser', dtype('O')),
 ('Browser Version', dtype('O')),
 ('Browser Size', dtype('O')),
 ('Operating System', dtype('O')),
 ('Operating System Version', dtype('O')),
 ('Is Mobile', dtype('bool')),
 ('Mobile Device Branding', dtype('O')),
 ('Mobile Device Model', dtype('O')),
 ('Mobile Input Selector', dtype('O')),
 ('Mobile Device Info', dtype('O')),
 ('Mobile Device Marketing Name', dtype('O')),
 ('Flash Version', dtype('O')),
 ('Java Support', dtype('bool')),
 ('Language', dtype('O')),
 ('Screen Colors', dtype('O')),
 ('Screen Resolution', dtype('O')),
 ('Device Category', dtype('O')),
 ('Continent', dtype('O')),
 ('Sub Continent', dtype('O')),
 ('Country', dtype('O')),
 ('Region', dtype('O')),
 ('Metro', dtype('O')),
 ('City', dtype('O')),
 ('Latitude', dtype('float64')),
 ('Longitude', dtype('float64')),
 ('Default Channel Grouping', dtype('O')),
 ('IpMeta Service Provider', dtype('O')),
 ('IpMeta Network Domain', dtype('O')),
 ('IpMeta Network Type', dtype('O')),
 ('Hostname', dtype('O')),
 ('Landing Page', dtype('O')),
 ('Page Path Level 1_Landing Page', dtype('O')),
 ('Page Path Level 2_Landing Page', dtype('O')),
 ('Page Path Level 3_Landing Page', dtype('O')),
 ('Page Path Level 4_Landing Page', dtype('O')),
 ('Exit Page', dtype('O')),
 ('Exit Page Path Level 1', dtype('O')),
 ('Exit Page Path Level 2', dtype('O')),
 ('Exit Page Path Level 3', dtype('O')),
 ('Exit Page Path Level 4', dtype('O')),
 ('GOAL_1_CONTACT_FORM', dtype('int64')),
 ('Lead Inquiry', dtype('int64')),
 ('Nursing Info Sessions', dtype('int64')),
 ('Nursing Referral', dtype('int64')),
 ('Referral', dtype('int64')),
 ('Landing Page Inquiry', dtype('int64')),
 ('Corporate Inquiry', dtype('int64')),
 ('go.ras.edu Inquiry', dtype('int64')),
 ('ECE Information Sessions', dtype('int64')),
 ('Application Complete', dtype('int64')),
 ('GOAL_11_DPT_INFORMATION_SESSION', dtype('int64')),
 ('GOAL_12_WEBINAR_REGISTRATION', dtype('int64')),
 ('Page_Second in Session', dtype('O')),
 ('Page Path Level 1_Second Page in Session', dtype('O')),
 ('Page Path Level 2_Second Page in Session', dtype('O')),
 ('Page Path Level 3_Second Page in Session', dtype('O')),
 ('Page Path Level 4_Second Page in Session', dtype('O')),
 ('Page_Third in Session', dtype('O')),
 ('Page Path Level 1_Third Page in Session', dtype('O')),
 ('Page Path Level 2_Third Page in Session', dtype('O')),
 ('Page Path Level 3_Third Page in Session', dtype('O')),
 ('Page Path Level 4_Third Page in Session', dtype('O')),
 ('Unique Pageviews', dtype('float64')),
 ('Total Inquiries', dtype('int64')),
 ('Total Leads', dtype('int64')),
 ('Landing Page - clean', dtype('O')),
 ('Visit Start Time of Day', dtype('O')),
 ('Count of Locations Pageviews', dtype('float64')),
 ('Count of Degrees Pageviews', dtype('float64')),
 ('Count of Areas of Study Pageviews', dtype('float64')),
 ('Count of Tuition Pageviews', dtype('float64')),
 ('Count of Admissions Pageviews', dtype('float64')),
 ('Lead Goal', dtype('float64')),
 ('Inquiry Type', dtype('O')),
 ('Lead Goal Level', dtype('float64')),
 ('Channel - for pacing', dtype('O')),
 ('Active Student Hold', dtype('O')),
 ('Biggest concern for you right now', dtype('O')),
 ('Billing Method', dtype('float64')),
 ('convertedurl', dtype('O')),
 ('Degree Level Requested', dtype('O')),
 ('Description', dtype('float64')),
 ('Do Not Text', dtype('O')),
 ('Fiscal Period', dtype('O')),
 ('Fiscal Quarter', dtype('float64')),
 ('Grade Level', dtype('float64')),
 ('Grade Scale', dtype('float64')),
 ('Has Line Item', dtype('O')),
 ('Has Open Activity', dtype('O')),
 ('Has Overdue Task', dtype('O')),
 ('High Priority Indicator', dtype('O')),
 ('Main reason for pursuing degree', dtype('O')),
 ('Marketo Opportunity Analysis', dtype('O')),
 ('Number of Legal Holds', dtype('float64')),
 ('Push Count', dtype('float64')),
 ('Shift', dtype('float64')),
 ('School of Study', dtype('O')),
 ('Channel', dtype('O')),
 ('Channel - aggregate', dtype('O')),
 ('Search Campaign Type', dtype('O')),
 ('Inquiry Type - Q3/4', dtype('O')),
 ('Lead - Degree', dtype('O')),
 ('Lead - formname', dtype('O')),
 ('Lead - School of Study', dtype('O')),
 ('Lead - Program', dtype('O')),
 ('Lead - Zip/Postal Code', dtype('O')),
 ('Lead - Original Program Request', dtype('O')),
 ('Lead - Original Lead Campus', dtype('O')),
 ('Lead - Transfer Credits', dtype('O')),
 ('Lead Source', dtype('O')),
 ('ga_campaign', dtype('O')),
 ('ga_content', dtype('O')),
 ('ga_medium', dtype('O')),
 ('ga_source', dtype('O')),
 ('ga_term', dtype('O')),
 ('FIPS', dtype('float64')),
 ('FIPS_STRING', dtype('O')),
 ('City - FIPS', dtype('O')),
 ('State - FIPS', dtype('O')),
 ('County - FIPS', dtype('O')),
 ('Zip Code - FIPS', dtype('O')),
 ('DMA', dtype('O')),
 ('ga_clientid', dtype('float64')),
 ('Lead - Campus', dtype('O')),
 ('Lead - City', dtype('O')),
 ('Converted', dtype('O')),
 ('Lead - Corporate Employer', dtype('O')),
 ('Lead - Country', dtype('O')),
 ('Lead - Country ID', dtype('float64')),
 ('Lead - Data Source', dtype('O')),
 ('Lead - Do you have high school diploma?', dtype('O')),
 ('Lead - Email Bounced Reason', dtype('O')),
 ('Lead - Employer Name', dtype('O')),
 ('Lead - Form Source', dtype('O')),
 ('Lead - High School Grad Year', dtype('float64')),
 ('Lead Category', dtype('O')),
 ('Lead Enrollment Campus', dtype('float64')),
 ('Lead Type', dtype('float64')),
 ('Lead Source ID', dtype('O')),
 ('Lead - Learning Center Admissions Office', dtype('O')),
 ('Lead - Referral', dtype('O')),
 ('Lead - Sales Insight', dtype('O')),
 ('Lead - State/Province', dtype('O')),
 ('Lead - Student Enrollment Campus', dtype('O')),
 ('Lead - Address City', dtype('O')),
 ('Lead - Address Country', dtype('O')),
 ('Lead - Address Postal Code', dtype('O')),
 ('Lead - Address State', dtype('O')),
 ('Lead - Created Date', dtype('O')),
 ('Lead - Tuition Reimbursement Avail', dtype('O')),
 ('History.First Status', dtype('float64')),
 ('History.First Reason', dtype('float64')),
 ('History.First Campus', dtype('float64')),
 ('History.First Catalog', dtype('float64')),
 ('History.First HS Grad Year', dtype('float64')),
 ('History.First Program', dtype('float64')),
 ('History.First Lead Source', dtype('float64')),
 ('High School Grad Year', dtype('float64')),
 ('Lead - Mobile Phone Area Code', dtype('O')),
 ('Lead - Phone Number Area Code', dtype('O')),
 ('Lead - Age', dtype('float64')),
 ('Lead Comments - Course Interest', dtype('O')),
 ('Lead Comments - Degree', dtype('O')),
 ('Lead Comments - Transfer', dtype('O')),
 ('rand', dtype('float64')),
 ('Cut', dtype('int64')),
 ('Y', dtype('int64'))]

In [23]:
len(together)

191

In [25]:
together[0][0]

'Count of Sessions'

In [53]:
gr=df_sub[['Count of Sessions','Y','Pageviews']].groupby('Count of Sessions')\
             .agg({'Pageviews':'count', 'Y': 'sum'})\
             .reset_index()\
             .rename(columns={var='Var','Y': 'All', 'Pageviews': 'Response'})
gr.head(1)

SyntaxError: invalid syntax (889272766.py, line 4)

In [50]:
gr.rename(columns={'Count of Sessions': 'newName1', 'Pageviews': 'newName2'})

    newName1  newName2     Y
0          1     10248  1291
1          2      1825   238
2          3       665    87
3          4       281    32
4          5       158    17
5          6        97    14
6          7        60     7
7          8        40     4
8          9        24     4
9         10        15     2
10        11         6     1
11        12         9     0
12        13         4     3
13        14        10     2
14        15         7     1
15        16         8     1
16        17         5     1
17        18         3     2
18        19         2     0
19        20         1     0
20        21         1     1
21        22         1     0
22        23         1     1
23        24         1     0
24        25         4     0
25        26         1     0
26        27         2     0
27        31         1     0
28        32         3     1
29        34         1     0
30        35         1     0
31        36         3     1
32        37         1     0
33        39         2     1
34        40         1     0
35        41         1     0
36        42         1     0
37        43         1     1
38        48         1     0
39        56         1     0
40        58         1     0
41        70         1     0
42        72         1     0
43        87         1     0
44        99         1     0
45       101         2     0
46       110         1     0
47       132         1     1
48       139         2     2
49       146         1     1
50       161         1     0
51       190         2     0
52       237         1     0

In [54]:
df_g=None
for e in together:
    print('-------------------')
    print(e)
    var=e[0]
    type=e[1]
    print(var)
    print(type)
    if type=='float64':
        df_g=df_sub[['Count of Sessions','Y','Pageviews']].groupby('Count of Sessions')\
             .agg({'Pageviews':'count', 'Y': 'sum'})\
             .reset_index()\
             .rename(columns={var:'Variable','Y': 'All', 'Pageviews': 'Response'})
        
        df_g['Var']=var
        df_g=df_g.append(df_g)

-------------------
('Count of Sessions', dtype('int64'))
Count of Sessions
int64
-------------------
('Pageviews', dtype('float64'))
Pageviews
float64
-------------------
('Session Duration', dtype('float64'))
Session Duration
float64
-------------------
('Hits', dtype('int64'))
Hits
int64
-------------------
('Transactions', dtype('float64'))
Transactions
float64
-------------------
('Transaction Revenue', dtype('float64'))
Transaction Revenue
float64
-------------------
('New Sessions', dtype('float64'))
New Sessions
float64
-------------------
('Session Quality Score 0_100', dtype('int64'))
Session Quality Score 0_100
int64
-------------------
('Campaign', dtype('O'))
Campaign
object
-------------------
('Source', dtype('O'))
Source
object
-------------------
('Keyword', dtype('O'))
Keyword
object
-------------------
('Ad Content', dtype('O'))
Ad Content
object
-------------------
('Campaign ID', dtype('float64'))
Campaign ID
float64
-------------------
('Ad Group ID', dtype('float64'))
Ad Group ID
float64
-------------------
('Google Ads Creative ID', dtype('float64'))
Google Ads Creative ID
float64
-------------------
('Google Ads Criteria ID', dtype('float64'))
Google Ads Criteria ID
float64
-------------------
('Page', dtype('float64'))
Page
float64
-------------------
('Google Ads Ad Slot', dtype('O'))
Google Ads Ad Slot
object
-------------------
('Google Ads Criteria', dtype('O'))
Google Ads Criteria
object
-------------------
('Google Ads Customer ID', dtype('float64'))
Google Ads Customer ID
float64
-------------------
('Ad Distribution Network', dtype('O'))
Ad Distribution Network
object
-------------------
('Google Ads Remarketing List ID', dtype('float64'))
Google Ads Remarketing List ID
float64
-------------------
('TrueView Video Ad', dtype('O'))
TrueView Video Ad
object
-------------------
('Is True Direct', dtype('O'))
Is True Direct
object
-------------------
('Browser', dtype('O'))
Browser
object
-------------------
('Browser Version', dtype('O'))
Browser Version
object
-------------------
('Browser Size', dtype('O'))
Browser Size
object
-------------------
('Operating System', dtype('O'))
Operating System
object
-------------------
('Operating System Version', dtype('O'))
Operating System Version
object
-------------------
('Is Mobile', dtype('bool'))
Is Mobile
bool
-------------------
('Mobile Device Branding', dtype('O'))
Mobile Device Branding
object
-------------------
('Mobile Device Model', dtype('O'))
Mobile Device Model
object
-------------------
('Mobile Input Selector', dtype('O'))
Mobile Input Selector
object
-------------------
('Mobile Device Info', dtype('O'))
Mobile Device Info
object
-------------------
('Mobile Device Marketing Name', dtype('O'))
Mobile Device Marketing Name
object
-------------------
('Flash Version', dtype('O'))
Flash Version
object
-------------------
('Java Support', dtype('bool'))
Java Support
bool
-------------------
('Language', dtype('O'))
Language
object
-------------------
('Screen Colors', dtype('O'))
Screen Colors
object
-------------------
('Screen Resolution', dtype('O'))
Screen Resolution
object
-------------------
('Device Category', dtype('O'))
Device Category
object
-------------------
('Continent', dtype('O'))
Continent
object
-------------------
('Sub Continent', dtype('O'))
Sub Continent
object
-------------------
('Country', dtype('O'))
Country
object
-------------------
('Region', dtype('O'))
Region
object
-------------------
('Metro', dtype('O'))
Metro
object
-------------------
('City', dtype('O'))
City
object
-------------------
('Latitude', dtype('float64'))
Latitude
float64
-------------------
('Longitude', dtype('float64'))
Longitude
float64
-------------------
('Default Channel Grouping', dtype('O'))
Default Channel Grouping
object
-------------------
('IpMeta Service Provider', dtype('O'))
IpMeta Service Provider
object
-------------------
('IpMeta Network Domain', dtype('O'))
IpMeta Network Domain
object
-------------------
('IpMeta Network Type', dtype('O'))
IpMeta Network Type
object
-------------------
('Hostname', dtype('O'))
Hostname
object
-------------------
('Landing Page', dtype('O'))
Landing Page
object
-------------------
('Page Path Level 1_Landing Page', dtype('O'))
Page Path Level 1_Landing Page
object
-------------------
('Page Path Level 2_Landing Page', dtype('O'))
Page Path Level 2_Landing Page
object
-------------------
('Page Path Level 3_Landing Page', dtype('O'))
Page Path Level 3_Landing Page
object
-------------------
('Page Path Level 4_Landing Page', dtype('O'))
Page Path Level 4_Landing Page
object
-------------------
('Exit Page', dtype('O'))
Exit Page
object
-------------------
('Exit Page Path Level 1', dtype('O'))
Exit Page Path Level 1
object
-------------------
('Exit Page Path Level 2', dtype('O'))
Exit Page Path Level 2
object
-------------------
('Exit Page Path Level 3', dtype('O'))
Exit Page Path Level 3
object
-------------------
('Exit Page Path Level 4', dtype('O'))
Exit Page Path Level 4
object
-------------------
('GOAL_1_CONTACT_FORM', dtype('int64'))
GOAL_1_CONTACT_FORM
int64
-------------------
('Lead Inquiry', dtype('int64'))
Lead Inquiry
int64
-------------------
('Nursing Info Sessions', dtype('int64'))
Nursing Info Sessions
int64
-------------------
('Nursing Referral', dtype('int64'))
Nursing Referral
int64
-------------------
('Referral', dtype('int64'))
Referral
int64
-------------------
('Landing Page Inquiry', dtype('int64'))
Landing Page Inquiry
int64
-------------------
('Corporate Inquiry', dtype('int64'))
Corporate Inquiry
int64
-------------------
('go.ras.edu Inquiry', dtype('int64'))
go.ras.edu Inquiry
int64
-------------------
('ECE Information Sessions', dtype('int64'))
ECE Information Sessions
int64
-------------------
('Application Complete', dtype('int64'))
Application Complete
int64
-------------------
('GOAL_11_DPT_INFORMATION_SESSION', dtype('int64'))
GOAL_11_DPT_INFORMATION_SESSION
int64
-------------------
('GOAL_12_WEBINAR_REGISTRATION', dtype('int64'))
GOAL_12_WEBINAR_REGISTRATION
int64
-------------------
('Page_Second in Session', dtype('O'))
Page_Second in Session
object
-------------------
('Page Path Level 1_Second Page in Session', dtype('O'))
Page Path Level 1_Second Page in Session
object
-------------------
('Page Path Level 2_Second Page in Session', dtype('O'))
Page Path Level 2_Second Page in Session
object
-------------------
('Page Path Level 3_Second Page in Session', dtype('O'))
Page Path Level 3_Second Page in Session
object
-------------------
('Page Path Level 4_Second Page in Session', dtype('O'))
Page Path Level 4_Second Page in Session
object
-------------------
('Page_Third in Session', dtype('O'))
Page_Third in Session
object
-------------------
('Page Path Level 1_Third Page in Session', dtype('O'))
Page Path Level 1_Third Page in Session
object
-------------------
('Page Path Level 2_Third Page in Session', dtype('O'))
Page Path Level 2_Third Page in Session
object
-------------------
('Page Path Level 3_Third Page in Session', dtype('O'))
Page Path Level 3_Third Page in Session
object
-------------------
('Page Path Level 4_Third Page in Session', dtype('O'))
Page Path Level 4_Third Page in Session
object
-------------------
('Unique Pageviews', dtype('float64'))
Unique Pageviews
float64
-------------------
('Total Inquiries', dtype('int64'))
Total Inquiries
int64
-------------------
('Total Leads', dtype('int64'))
Total Leads
int64
-------------------
('Landing Page - clean', dtype('O'))
Landing Page - clean
object
-------------------
('Visit Start Time of Day', dtype('O'))
Visit Start Time of Day
object
-------------------
('Count of Locations Pageviews', dtype('float64'))
Count of Locations Pageviews
float64
-------------------
('Count of Degrees Pageviews', dtype('float64'))
Count of Degrees Pageviews
float64
-------------------
('Count of Areas of Study Pageviews', dtype('float64'))
Count of Areas of Study Pageviews
float64
-------------------
('Count of Tuition Pageviews', dtype('float64'))
Count of Tuition Pageviews
float64
-------------------
('Count of Admissions Pageviews', dtype('float64'))
Count of Admissions Pageviews
float64
-------------------
('Lead Goal', dtype('float64'))
Lead Goal
float64
-------------------
('Inquiry Type', dtype('O'))
Inquiry Type
object
-------------------
('Lead Goal Level', dtype('float64'))
Lead Goal Level
float64
-------------------
('Channel - for pacing', dtype('O'))
Channel - for pacing
object
-------------------
('Active Student Hold', dtype('O'))
Active Student Hold
object
-------------------
('Biggest concern for you right now', dtype('O'))
Biggest concern for you right now
object
-------------------
('Billing Method', dtype('float64'))
Billing Method
float64
-------------------
('convertedurl', dtype('O'))
convertedurl
object
-------------------
('Degree Level Requested', dtype('O'))
Degree Level Requested
object
-------------------
('Description', dtype('float64'))
Description
float64
-------------------
('Do Not Text', dtype('O'))
Do Not Text
object
-------------------
('Fiscal Period', dtype('O'))
Fiscal Period
object
-------------------
('Fiscal Quarter', dtype('float64'))
Fiscal Quarter
float64
-------------------
('Grade Level', dtype('float64'))
Grade Level
float64
-------------------
('Grade Scale', dtype('float64'))
Grade Scale
float64
-------------------
('Has Line Item', dtype('O'))
Has Line Item
object
-------------------
('Has Open Activity', dtype('O'))
Has Open Activity
object
-------------------
('Has Overdue Task', dtype('O'))
Has Overdue Task
object
-------------------
('High Priority Indicator', dtype('O'))
High Priority Indicator
object
-------------------
('Main reason for pursuing degree', dtype('O'))
Main reason for pursuing degree
object
-------------------
('Marketo Opportunity Analysis', dtype('O'))
Marketo Opportunity Analysis
object
-------------------
('Number of Legal Holds', dtype('float64'))
Number of Legal Holds
float64
-------------------
('Push Count', dtype('float64'))
Push Count
float64
-------------------
('Shift', dtype('float64'))
Shift
float64
-------------------
('School of Study', dtype('O'))
School of Study
object
-------------------
('Channel', dtype('O'))
Channel
object
-------------------
('Channel - aggregate', dtype('O'))
Channel - aggregate
object
-------------------
('Search Campaign Type', dtype('O'))
Search Campaign Type
object
-------------------
('Inquiry Type - Q3/4', dtype('O'))
Inquiry Type - Q3/4
object
-------------------
('Lead - Degree', dtype('O'))
Lead - Degree
object
-------------------
('Lead - formname', dtype('O'))
Lead - formname
object
-------------------
('Lead - School of Study', dtype('O'))
Lead - School of Study
object
-------------------
('Lead - Program', dtype('O'))
Lead - Program
object
-------------------
('Lead - Zip/Postal Code', dtype('O'))
Lead - Zip/Postal Code
object
-------------------
('Lead - Original Program Request', dtype('O'))
Lead - Original Program Request
object
-------------------
('Lead - Original Lead Campus', dtype('O'))
Lead - Original Lead Campus
object
-------------------
('Lead - Transfer Credits', dtype('O'))
Lead - Transfer Credits
object
-------------------
('Lead Source', dtype('O'))
Lead Source
object
-------------------
('ga_campaign', dtype('O'))
ga_campaign
object
-------------------
('ga_content', dtype('O'))
ga_content
object
-------------------
('ga_medium', dtype('O'))
ga_medium
object
-------------------
('ga_source', dtype('O'))
ga_source
object
-------------------
('ga_term', dtype('O'))
ga_term
object
-------------------
('FIPS', dtype('float64'))
FIPS
float64
-------------------
('FIPS_STRING', dtype('O'))
FIPS_STRING
object
-------------------
('City - FIPS', dtype('O'))
City - FIPS
object
-------------------
('State - FIPS', dtype('O'))
State - FIPS
object
-------------------
('County - FIPS', dtype('O'))
County - FIPS
object
-------------------
('Zip Code - FIPS', dtype('O'))
Zip Code - FIPS
object
-------------------
('DMA', dtype('O'))
DMA
object
-------------------
('ga_clientid', dtype('float64'))
ga_clientid
float64
-------------------
('Lead - Campus', dtype('O'))
Lead - Campus
object
-------------------
('Lead - City', dtype('O'))
Lead - City
object
-------------------
('Converted', dtype('O'))
Converted
object
-------------------
('Lead - Corporate Employer', dtype('O'))
Lead - Corporate Employer
object
-------------------
('Lead - Country', dtype('O'))
Lead - Country
object
-------------------
('Lead - Country ID', dtype('float64'))
Lead - Country ID
float64
-------------------
('Lead - Data Source', dtype('O'))
Lead - Data Source
object
-------------------
('Lead - Do you have high school diploma?', dtype('O'))
Lead - Do you have high school diploma?
object
-------------------
('Lead - Email Bounced Reason', dtype('O'))
Lead - Email Bounced Reason
object
-------------------
('Lead - Employer Name', dtype('O'))
Lead - Employer Name
object
-------------------
('Lead - Form Source', dtype('O'))
Lead - Form Source
object
-------------------
('Lead - High School Grad Year', dtype('float64'))
Lead - High School Grad Year
float64
-------------------
('Lead Category', dtype('O'))
Lead Category
object
-------------------
('Lead Enrollment Campus', dtype('float64'))
Lead Enrollment Campus
float64
-------------------
('Lead Type', dtype('float64'))
Lead Type
float64
-------------------
('Lead Source ID', dtype('O'))
Lead Source ID
object
-------------------
('Lead - Learning Center Admissions Office', dtype('O'))
Lead - Learning Center Admissions Office
object
-------------------
('Lead - Referral', dtype('O'))
Lead - Referral
object
-------------------
('Lead - Sales Insight', dtype('O'))
Lead - Sales Insight
object
-------------------
('Lead - State/Province', dtype('O'))
Lead - State/Province
object
-------------------
('Lead - Student Enrollment Campus', dtype('O'))
Lead - Student Enrollment Campus
object
-------------------
('Lead - Address City', dtype('O'))
Lead - Address City
object
-------------------
('Lead - Address Country', dtype('O'))
Lead - Address Country
object
-------------------
('Lead - Address Postal Code', dtype('O'))
Lead - Address Postal Code
object
-------------------
('Lead - Address State', dtype('O'))
Lead - Address State
object
-------------------
('Lead - Created Date', dtype('O'))
Lead - Created Date
object
-------------------
('Lead - Tuition Reimbursement Avail', dtype('O'))
Lead - Tuition Reimbursement Avail
object
-------------------
('History.First Status', dtype('float64'))
History.First Status
float64
-------------------
('History.First Reason', dtype('float64'))
History.First Reason
float64
-------------------
('History.First Campus', dtype('float64'))
History.First Campus
float64
-------------------
('History.First Catalog', dtype('float64'))
History.First Catalog
float64
-------------------
('History.First HS Grad Year', dtype('float64'))
History.First HS Grad Year
float64
-------------------
('History.First Program', dtype('float64'))
History.First Program
float64
-------------------
('History.First Lead Source', dtype('float64'))
History.First Lead Source
float64
-------------------
('High School Grad Year', dtype('float64'))
High School Grad Year
float64
-------------------
('Lead - Mobile Phone Area Code', dtype('O'))
Lead - Mobile Phone Area Code
object
-------------------
('Lead - Phone Number Area Code', dtype('O'))
Lead - Phone Number Area Code
object
-------------------
('Lead - Age', dtype('float64'))
Lead - Age
float64
-------------------
('Lead Comments - Course Interest', dtype('O'))
Lead Comments - Course Interest
object
-------------------
('Lead Comments - Degree', dtype('O'))
Lead Comments - Degree
object
-------------------
('Lead Comments - Transfer', dtype('O'))
Lead Comments - Transfer
object
-------------------
('rand', dtype('float64'))
rand
float64
-------------------
('Cut', dtype('int64'))
Cut
int64
-------------------
('Y', dtype('int64'))
Y
int64

In [55]:
df_g

    Count of Sessions  Response   All   Var
0                   1     10248  1291  rand
1                   2      1825   238  rand
2                   3       665    87  rand
3                   4       281    32  rand
4                   5       158    17  rand
..                ...       ...   ...   ...
48                139         2     2  rand
49                146         1     1  rand
50                161         1     0  rand
51                190         2     0  rand
52                237         1     0  rand

[106 rows x 4 columns]